* {
  margin: 0;
  padding: 0;
}
.tasks-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.add-task-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10em 60em rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  min-width: 450px;
  border-radius: 6px;
  padding: 2em;
  gap: 1em;
  visibility: hidden;
  background-color: white;
  z-index: 1;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 0.4em 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-control {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

.form-input {
  padding: 1em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  outline-color: transparent;
  transition: all 0.2s;
}

.form-input:focus {
  outline: 3px solid rgb(239, 246, 248);
}

input[type="submit"] {
  padding: 0.8em 1.6em;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  border-radius: 6px;
  border: none;
  cursor: pointer; 
  margin-top: 1.5em;
}

.message-card {
  color: white;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top: 0;
  margin: 1em;
  padding: 1em;
  font-size: 1.2em;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.error {
  background-color: red;
}

.info {
  background-color: blue;
  
}

.task-component {
  display: flex;
  flex-direction: row;
  padding: 1em;
  border: 0.5px solid rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;
  margin: 1em;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.task-component .left {
  display: flex;
  gap: 1em;
}

.action-btns {
  display: flex;
  gap: 1em;
}

.action-btn {
  background: none;
  border: none;
  border-radius: 32em;
  padding: .5em 1em;
  font-size: 1.1rem;
}

.edit-btn {
  color: blue;
}

.delete-btn {
  color: red;
}

.edit-btn:hover {
  background-color: rgba(25, 25, 234, 0.258);
  color: white;
}

.delete-btn:hover {
  background-color: rgba(231, 26, 26, 0.258);
  color: white;
}


.completed {
  background-color: rgba(205, 236, 205, 0.283);
  border: 1px solid rgb(167, 238, 167);
  text-decoration: line-through;
}

.pending {
  background-color: rgba(244, 244, 245, 0.066);
  border: 1px solid rgb(114, 114, 233);
}